<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>
<p>Products in the database Equal = <%= @products.length %></p>
<p>Categories in the database Equal = <%= @categories.length%></p>

